@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
    border: none;
}
:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid #222;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar-thumb{
    background: var(--black);
}

.header .header-1{
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}
.header .header-1 .logo i{
    color: var(--green);
}
section{
    padding: 5rem 9%;
}
.header .header-1 .search-form{
    width: 50rem;
    height: 3rem;
    border: var(--border);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: .5rem;
}
.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    width: 100%;
    height: 100%;
    color: var(--black);
}
.header .header-1 .search-form label{
    font-size: 2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .header-1 .search-form label:hover{
    color: var(--green);
}
.header .header-1 .icons div,.header .header-1 .icons a{
    font-size: 2rem;
    margin-left: 1.5rem;
    cursor: pointer;
    color: var(--black);
}
.header .header-1 .icons div:hover,.header .header-1 .icons a:hover{
    color: var(--green);
}
#search-btn{
    display: none;
}
.header .header-2{
    background: var(--green);
}
.header .header-2 .navbar{
    text-align: center;

}
.header .header-2 .navbar a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}
.header .header-2 .navbar a:hover{
    background: var(--dark-color);
}
.header .header-2.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.bottom-navbar{
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}
.bottom-navbar a{
    font-size: 2.3rem;
    padding: 1.5rem;
    color: #fff;
}
.bottom-navbar a:hover{
    background: var(--dark-color);
}
.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.9);
    position: fixed;
    top: 0;
   right: 100%;
    width: 100%;
    height: 100%;
    z-index: 10000;
}
.login-form-container form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}
.login-form-container form h3{
    text-align: center;
    font-size: 2.5rem;
  text-transform: uppercase;

}
.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}
.login-form-container form .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem ;
    color: var(--black);
    text-transform: none;
}
.login-form-container form .checkbox{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}
.login-form-container form .checkbox label{
    font-size: 1.3rem;
    color: var(--light-color);
    cursor: pointer;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-weight: 500;
}
.login-form-container form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}
 .btn:hover{
    background: var(--dark-color);
}
.login-form-container form p{
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}
.login-form-container form p a{
    color: var(--green);
    text-decoration: underline;
}
#close-login-btn{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 3rem;
    color: var(--black);
    cursor: pointer;

}
.login-form-container.active{
    right: 0;
}

/* home */

.home{
    background: url(./bookphoto/banner-bg.jpg);
    background-size: cover;
    background-position: center;

}
.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.home .row .content{
    flex: 1 1 42rem;
   
}
.home .row .book-slider{
    flex:1 1 42rem;
    margin-top: 2rem;
    text-align: center;
    
}
.home .row .book-slider a img{
    height: 25rem;
}
.home .row .book-slider a:hover img{
    transform: scale(.9);
    transition: .5s ease-out;
  transition-delay: .1s;
}
.home .row .book-slider .stand{
  width: 100%;
   margin-top: 1rem;
}
.home .row .content h3{
    margin-top: 2rem;
    font-size: 4.5rem;
    width: 30rem;
}
.home .row .content p{
    font-size: 1.4rem;
    color: var(--light-color);
    line-height: 2;
    padding: 1rem 0;
}

/* icons section  */

.icon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    /* background-color: red;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr)); */
     /* gap: 3rem; */
}
.icon-container .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}
.icon-container .icons i{
    font-size: 3.5rem;
    color: var(--green);
}
.icon-container .icons h3{
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}
.icon-container .icons p{
    font-size: 1.4rem;
    color: var(--light-color);
   
}

/* featured books  */

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}
.heading::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 0.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;

}
.heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.featured .featured-slider .box{
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;

}
.featured .featured-slider .box:hover{
    border: var(--border-hover);
}
.featured .featured-slider .box .image{
    padding: 1rem;
    background: linear-gradient(15deg,#eee 30%,#fff 30.1%);
}
.featured .featured-slider .box .image img{
    height: 25rem;
}
.featured .featured-slider .box .icons{
    /* border-bottom: var(--border-hover); */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
    transition: 0.5s ease-out;
}
.featured .featured-slider .box .icons a{
    color: var(--black);
    font-size: 2rem;
    /* margin: .5rem; */
    margin-bottom: 1.3rem;
    gap: 1rem;
    padding:1.3rem 1.5rem;
    position: relative;
}
.featured .featured-slider .icons::before {
    content: '';
    width: 0%;
    height: 1px;
    background: #333;
    position: absolute;
    bottom: 14px;
    left: 0;
    transition: 0.5s ease-out;
}
.featured .featured-slider .box:hover .icons::before{
    width: 100%;
}
.featured .featured-slider .icons a:hover{
    background: var(--green);
    color: #fff;
}
.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}
.featured .featured-slider .box:hover .image{
    transform: translateY(2rem);
    transition: 0.5s ease-out;

}
.featured .featured-slider .box .content h3{
    font-size: 2rem;
    color: var(--black);
}
.featured .featured-slider .box .content .price{
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
}
.featured .featured-slider .box .content .price span{
    font-size: 1.2rem;
    color: var(--light-color);
    padding-top: 1rem;
    text-decoration: line-through;
}
.featured .featured-slider .box:hover .content{
    transform: translateY(-.3rem);
    transition: .5s ease-out;
}
.featured .featured-slider .box .content {
   margin-bottom: 1.5rem;  
   background: #eee;
}
.swiper-button-next,
.swiper-button-prev{
    border: var(--border-hover);
    /* height: 2rem;
    width: 2rem; */
    background: #fff;
 
}

#next,#prev{
    /* position: relative; */
    color: #000;
    height: 4rem;
    width: 4rem;
    font-size: 1rem;
   
}
#prev::after,
#next::after{
    font-size: 2rem;
}
#next{
    transform: translateX(1rem);
}
#prev{
    transform: translateX(-1rem);
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: #333;
}
#next:hover,#prev:hover{
    color: #fff;
}

/* newsletter section  */
body{
    height: 300rem;
}
.newsletter{
    background:url(./bookphoto/letter-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.newsletter form{
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding: 5rem 0;
}
.newsletter form h3{
    font-size: 2.2rem;
    color: #fff;
    padding-bottom: .7rem;
}
.newsletter form .box{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    border-radius:.5rem;
    text-transform: none;
}

/* arrival section */

.arrival .arrival-slider .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;
}
.arrival .arrival-slider .box:hover{
    border: var(--border-hover);
}
.arrival .arrival-slider .box .image img{
    height: 15rem;
}
.arrival .arrival-slider .box .content h3{
    font-size: 2rem;
    color: var(--black);
}
.arrival .arrival-slider .box .content .price{
    font-size: 2.2rem;
    color: var(--black);
}
.arrival .arrival-slider .box .content .price span{
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}
.arrival .arrival-slider .box .content .star i{
    font-size: 1.5rem;
    color: var(--green);
}

/* deal section */

.deal{
    background: #f3f3f3;
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    gap: 1.5rem;
}
.deal .content{
    flex: 1 1 42rem;
}
.deal .image{
    flex: 1 1 42rem;
}
.deal .image img{
    width: 100%;
}
.deal .content h3{
    color: var(--green);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}
.deal .content h1{
    color: var(--black);
    font-size: 4rem;
}
.deal .content p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem;
}

/* review section  */

.reviews .review-slider .box{
    width: 30rem;
    border: var(--border);
    padding: 2rem;
    text-align: center;
    margin: 2rem 0;
}
.reviews .review-slider .box:hover{
    border: var(--border-hover);

}
.reviews .review-slider .box img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.reviews .review-slider .box h3{
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem 0;
}
.reviews .review-slider .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}
.reviews .review-slider .box .stars i{
    color: var(--green);
    font-size: 1.7rem;
}
 /* blogs section */

 .blogs .blogs-slider .box{
    width: 30rem;
    border: var(--border);
    /* padding: 2rem; */
    text-align: center;
    margin: 2rem 0; 
    
 }
 .blogs .blogs-slider .box:hover{
    border: var(--border-hover);
 }

 .blogs .blogs-slider .box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden;
 }
 .blogs .blogs-slider .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }
 .blogs .blogs-slider .box:hover .image img{
    transform: scale(1.1);
    transition: .9s ease;
 }
 .blogs .blogs-slider .box .content{
    padding: 1.5rem;
 }
 .blogs .blogs-slider .box .content h3{
    font-size: 2.2rem;
    color: var(--black);
 }
 .blogs .blogs-slider .box .content p{
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem o;
    line-height: 2;
 }

 /* footer section */
 .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr)); 
     gap: 1.5rem; 
 }
 .footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
 }
 .footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
 }
 .footer .box-container .box a i{
    color: var(--green);
    padding-right: .5rem;
 }
 .footer .box-container .box a:hover i{
    padding-right: 2rem;
    transition: .3s ease-in;
 }
 .footer .box-container .box .map{
    width: 70%;
 }

 .footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    background: var(--green);
    margin: 0 .3rem;
    border-radius: 50%;
    
 }
 .footer .share{
    padding: 1rem 0;
    text-align: center;
 }
 .footer .share a:hover{
    transform: scale(1.1);
    transition: .4s ease;
    background: var(--dark-color);
 }
 
 .footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 2rem;
    padding-top: 2rem;
    font-size: 1.4rem;
    color: var(--light-color);
    text-align: center;
    color: #000;
 

 }
 .footer .credit span{
    color: var(--green);
 }

 /* loader content */
 .loader-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;

 }
 .loader-container img{
    height: 10rem;
 }
 .loader-container.active{
    display: none;
 }












/* reaponsive */
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header .header-1{
        padding: 2rem;
       
    }
    section{
        padding: 3rem 2rem;
    }
}
@media(max-width:768px){
   .header .header-2{
    display: none;
   }
   .header .header-1{
    box-shadow: var(--box-shadow);
    position: relative;
   }
   .bottom-navbar {
    display: block;
   }
   html{
    scroll-padding-top: 0;
   }
   body{
    padding-bottom: 6rem;
   }
   .header .header-1 .search-form{
    position: absolute;
    top: -110%;
    right: 2.5rem;
    width: 93%;
    box-shadow: var(--box-shadow);
   
   }
   #search-btn{
    display: inline-block;
}
.header .header-1 .search-form.active{
    top: 110%;
    
}
.newsletter{
    background-position: left;
}
.newsletter form{
    margin-left: 0;
    max-width: 100%;
}
}
@media(max-width:450px){
    html{
        font-size: 55%;
    }
    .header .header-1{
        padding: 2rem;
       
    }
    .header .header-1 .search-form{
        position: absolute;
        top: -110%;
        left: 1rem;
        width: 100%;
        box-shadow: var(--box-shadow);
       
       }
       .icon-container{
        margin: 0 2rem;
       }
}

